body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lv-icon {
    font-size: 21px;
}

.dx-multiview-wrapper {
    padding: 8px;
}

.tafla {
    margin-top: 25px;
    max-width: 800px;
    width: 100%;
    height: 400px;
} 

.tblRadstofun {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    max-width: 750px;
    width: 100%;
    margin-top: 4px;
}

.tafla1, .tafla2, .tafla3, .tafla4 {
    margin-top: 25px;
    width: 750px;
    border: 1px solid #DDDDDD;
}

.dx-overlay-content {
    z-index: 1  ;
}

.grp {
    margin: 10px;
}

.grp > p, .grp > table {
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.listi > li {
    list-style-type: square;
    display: list-item;
    margin-left: 2em;
}

.dx-item-content > h1 {
    font-size: 24px;
}

.dx-item-content > h2 {
    font-size: 16px;
}

.bold {
    font-weight: 600;
    font-size: 14px;
}

.overline {
    border-bottom: 1px solid grey; 
}

.right {
    text-align: right;
}

.borderUD {
    border-top: 1px solid silver;border-bottom: 1px solid silver;
}

.tafla-utreikningur {
    margin-top: 15px;
    width: 750px;
    border: 1px solid #DDDDDD;
    padding: 10px;
}

.tafla-utreikningur td {
    padding: 5px 5px 5px 5px;
    empty-cells: show;
}

.tafla-spurning td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-center > div {
    margin: auto;
}

.dx-popup-content {
    font-size: 16px;
    text-align: center;
}

.next-button {
    display: block !important;
    margin: auto !important;
    width: 250px !important;
}

.red {
    color: red !important;
}

.dx-button-content > .dx-icon {
    float: right !important;
}

.info {
    font-size: 20px;
    padding-left: 15px;
}

.info-utreikningur {
    padding-left: 10px;
}

.info-big {
    font-size: 20px;
}

.display-reykir {
    position: absolute;
    top: 103px;
}

.display-born {
    width: 100px;
    background-color: white;
    height: 60px;
    position: absolute;
    bottom: 100px;
    display: table;
    border: 2px solid silver;
    z-index: 5;
}

.display-born > p {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    left: 60px;
    font-weight: 600;
    font-size: 20px;
}

.display-born > img {
    position: absolute;                                                                                                      
    height: 90%;
    vertical-align: middle;
    display: table-cell;
}

.background-maki {
    position: absolute;                                                                                                      
    height: 300px;
    display: table-cell;
    z-index: 3;
    left: 500px;
    top:220px;
}

.persona-img {
    position:relative;
    z-index: 4;
}

.display-reykir {
    position: absolute;
    z-index: 5;
}

.baby-picture {
    height: 100px;
}

.baby-list{
    list-style-type: none !important;
    text-align: center; 
    height:100px;
    margin-top: 15px;
}

.baby-list li {
    float: left;
    vertical-align: middle;
}

.baby-list li img {
    display: block;
}

.plus-sign {
    font-size:40px;
    font-weight: 600;
}

.svar {
    font-size: 12.5px;
    font-weight: 300;
    margin-left: 10px;
}

.statement-p {
    font-size: 16px;
    font-style: oblique;
    padding: 8px 8px 8px 8px;
    border: solid 1px #060505;
    background-color: #ECEEEF;
    border-radius: 10px;
}

.title-p {
    font-size: 16px;
    font-weight:600;
    border-bottom: solid 1px #dddddd;
    padding: 5px 5px;
}

.bold-med {
    font-size: 14px;
    font-weight:600;
}

.bold-big {
    font-size: 15px;
    font-weight:600;
}

.flip-it {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

.img-div {
    width:225px;
}

.img-div img {
    width:100%;
}

.nidurstada {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}