body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lv-icon {
    font-size: 21px;
}

.dx-multiview-wrapper {
    padding: 8px;
}

.tafla1, .tafla2, .tafla3, .tafla4 {
    margin-top: 25px;
    width: 750px;
    border: 1px solid black;
}

.dx-overlay-content {
    z-index: 1  ;
}

.grp {
    margin: 10px;
}

.grp > p {
    margin-left: 7px;
    margin-bottom: 5px;
}
