<table class="tafla">
    <tr>
        <td>
            <div id="laun-grp" class="grp">
                <p id="laun-display">Hver eru mánaðarleg laun þín eftir skatta?</p>
                <div id="laun" dx-slider="{
                    min: 0,
                    max: 1000000,
                    step: 50000,
                    bindingOptions: {
                        value: 'model.laun'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétt laun.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatLaunLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatLaunTooltip
                    }
            }"></div>
            </div>
            <div id="makaLaun-grp" class="grp" ng-show="hefurMaka()">
                <br />
                <br />
                <p id="maka-laun-display">Hver eru mánaðarleg laun maka þíns eftir skatta?</p>
                <div id="maka-laun" dx-slider="{
                    min: 0,
                    max: 1000000,
                    step: 50000,
                    bindingOptions: {
                        value: 'model.makaLaun'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétt laun.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatLaunLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatLaunTooltip
                    }
                }"></div>
            </div>
        </td>
        <td>
            <div class="img-div" style=" width:235px;height:250px">

            </div>
        </td>
        <td>
            <div id="skammtimaskuldir-grp" class="grp">
                <table>
                    <tr>
                        <td>Hvað greiðir þú af skammtímaskuldum á mánuði?</td>
                        <td><a id="skammtimaskuldirInfo"><span class="info glyphicon glyphicon-info-sign"></span></a></td>
                    </tr>
                </table>

                <div id="skammtimaskuldir" dx-slider="{
                    min: 0,
                    max: 500000,
                    step: 10000,
                    bindingOptions: {
                        value: 'model.skammtimaSkuldir'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á upphæð skammtímaskulda.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatSkammtimaskuldirLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatSkammtimaskuldirTooltip
                    }
                 }"></div>
                <div id="skammtimaskuldirInfoWindow">
                    <p>Skammtímaskuldir eru til dæmis kreditkortalán, bílalán og yfirdráttur.</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="husnaedi-grp" class="grp">
                <p id="husnaedi-display">Býrðu í leiguhúsnæði eða eiginhúsnæði?</p>
                <div dx-radio-group="{
                    items: valkostir.husnaedi,
                    width: '300px',
                    layout: 'horizontal',
                    onValueChanged: onHusnaediChanged,
                    valueExpr: 'value',
                    bindingOptions: {
                        value: 'model.husnaedi'
                    }
                }"></div>
            </div>
        </td>
        <td>
            <div class="img-div">
                <img ng-src="{{model.houseImg()}}" />
            </div>
        </td>
        <td>
            <div id="husnaedi-kostnadur-grp" class="grp" ng-show="erLeiga()">
                <p id="husnaedi-kostnadur-display">Hver er leigukostnaður þinn á mánuði?</p>
                <div dx-slider="{
                    min: 0,
                    max: 300000,
                    step: 10000,
                    bindingOptions: {
                        value: 'model.leiga'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á upphæð leigu á mánuði.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatSkammtimaskuldirLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatSkammtimaskuldirTooltip
                    }
                }"></div>
            </div>
            <div id="husnaedislan-grp" class="grp" ng-hide="erLeiga()">
                <p id="husnaedislan-display">Afborganir og vextir á mánuði?</p>
                <div dx-slider="{
                    min: 0,
                    max: 500000,
                    step: 10000,
                    bindingOptions: {
                        value: 'model.husnaedisLan'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á upphæð skammtímaskulda.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatSkammtimaskuldirLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatSkammtimaskuldirTooltip
                    }
                }"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <br />
            <div class="next-button" dx-button="{
                text: 'Næsta skref',
                onClick: $parent.naestaSida,
                icon: 'arrowright'
            }"></div>
        </td>
    </tr>
</table>
