<h1 align="center">Vörður líftryggingar</h1>
<h2 align="center">Reiknaðu út þörf þína fyrir líf- og sjúkdómatryggingar</h2>
<hr />
<p>Í þessari reiknivél höfum við sett fram helstu þætti sem máli skipta við ákvörðun um kaup á líf- og sjúkdómatryggingum og vátryggingafjárhæðum.  Við höfum ekki  reiknað í þessu forriti bætur almannatrygginga, ekki heldur réttindi úr lífeyrissjóðum til örorkubóta og dánarbóta, komi til slyss, sjúkdóms eða andláts.  Um flókið  samspil reglna og skerðinga er að ræða, mismunandi réttindi einstaklinga í lífeyrissjóðum og stéttarfélögum, auk síbreytilegra reglna frá TR.</p>
<br />
<b>Laun</b>
<p>
Við reiknum út frá launum þínum eftir skatt sem og maka/sambúðaraðila ef það á við. Laun eru grundvöllur fjárhagslegrar afkomu fjölskyldunnar og því ráðandi í  ákvörðun um tryggingaþörf og greiðslugetu.
</p>

<b>Fjölskyldan</b>
<p>
Kostnaður við framfærslu fjölskyldunnar er annar tveggja stærstu útgjaldaliða hverrar fjölskyldu.  Því spyrjum við um fjölskylduhagi, maka og fjölda barna.  Við notum framfærsluviðmið frá umboðsmanni skuldara til að ákvarða mánaðarlegan framfærslukostnað fjölskyldunnar.  Hægt er að breyta þeim gildum.
</p>

<b>Húsnæði</b>
<p>
Húsnæðiskostnaður fjölskyldunnar er hinn stóri útgjaldaliðurinn.  Því spyrjum við um hvort þú sért í eigin húsnæði eða leigir.  Við spyrjum um mánaðarlega greiðslubyrði af húsnæðislánum ef þú ert í eigin húsnæði, eða um húsaleigu ef það á við. 
</p>

<b>Skammtímaskuldir</b>
<p>
Ef þú ert með skammtímaskuldir, gerum við ráð fyrir að þær séu greiddar mánaðarlega .  Bílalán, kreditkort, raðgreiðslur og annað slíkt á heima undir þessum lið.
</p>

<b>Ertu með líf- eða sjúkdómatryggingu?</b>
<p>
Ef þú ert nú þegar með slíkar tryggingar draga þær úr þörf þinni á viðbótartryggingum.  Við lækkum í útreikningi tryggingaþörf þína sem nemur núverandi tryggingum þínum.
</p>

<b>Réttindi í veikindum og örorka</b>
<p>
Launafólk á margs konar réttindi í veikindum.  Flest vinnandi fólk á rétt á 3ja mánaða óskertum launum frá vinnuveitanda og 9 mánaða greiðslum og styrk úr sjúkrasjóði stéttarfélaganna, sé um langvarandi veikindi að ræða.  Hafa þarf það í huga við mat á þörf fyrir sjúkdómatryggingu.  Við hvetjum þig til að kynna þér rétt þinn. 
</p>
<br />
<b>Svona reiknum við</b>
<ul class="listi">
    <li>Settu inn tekjur þínar (og maka) eftir skatt</li>
    <li>Eigirðu fjölskyldu þarftu að velta fyrir þér hver staða hennar verður, ef þú fellur frá.</li>
    <li>Ef þú færð illvígan sjúkdóm, veltu fyrir þér fjárhag þínum ef þú missir tekjur vegna hans</li>
    <li>Ef þú skuldar fasteignalán og skammtímaskuldir hvernig viltu sjá lausn á þeim skuldbindingum </li>
    <li>Veltu fyrir þér hve há iðgjöld þú ræður við að greiða</li>
    <li>Forritið reiknar vátryggingarfjárhæðir og iðgjöld á grundvelli upplýsinga þinna</li>
</ul>

<br />

<b>Að lokum</b>
<p>
    Þú getur endurstillt reikniforritið, tekið út eða breytt forsendum í útreikningnum.  Mikilvægt er að vera raunsær, skoða greiðslugetu og velta fyrir sér raunverulegri tryggingaþörf áður en kaup eru ákveðin.
</p>
<br/>
<b>
    Líf- og sjúkdómatryggingar greiða út skattfrjálsa eingreiðslu ef þú deyrð eða eða greinist með illvígan sjúkdóm á gildistíma trygginganna.  Þannig byggir þú upp fjárhagslegt öryggi fyrir þig og þína á erfiðleikatímum.
</b>
<br />
<br />
<div class="next-button" dx-button="{
    text: 'Hefja greiningu',
    onClick: $parent.naestaSida
}"></div>