<table class="tafla">
	<tr>
		<td>
			<div id="kyn-grp" class="grp">
				<p id="kyn-display">Kyn?</p>
				<div dx-radio-group="{
					items: valkostir.kyn,
					layout: 'horizontal',
					valueExpr: 'value',
					bindingOptions: {
						value: 'model.kyn'
					}
				}"></div>
			</div>
		</td>
        <td rowspan="3">
            <div class="img-div">
                <div class="display-reykir">
                    <img ng-src="{{model.reykirImg()}}">
                </div>
                <div ng-show="hefurMaka()" >
                    <img class="background-maki" src="~/Images/maki.png">
                </div>
                <img class="persona-img" ng-src="{{model.personImg()}}">
                <div ng-show="aBarn()" class="display-born">
                    <img id="baby-picture" ng-src="/Images/baby.png" />
                    <p>x {{model.fjoldiBarna}}</p>
                </div>
            </div>
        </td>
		<td>
			<div id="aldur-grp" class="grp">
				<p id="aldur-display">Aldur?</p>
				<div dx-slider="{
					min: 18,
					max: 70,
					step: 1,
                    width: 300,
					hint: 'dragðu stikuna á réttan aldur.',
					bindingOptions: {
						value: 'model.aldur'
					},
					label: {
						visible: true,
						position: 'bottom',
						format: formatAldur
					},
					tooltip: {
						enabled: true,
						format: formatAldur
					}
					}"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="reykir-grp" class="grp">
				<p id="reykir-display">Reykir þú?</p>
				<div dx-radio-group="{
					items: valkostir.jaNei,
					layout: 'horizontal',
					valueExpr: 'value',
					bindingOptions: {
						value: 'model.reykir'
					}
				}"></div>
			</div>
		</td>
		<td>
			<div id="maki-grp" class="grp">
				<p id="maki-display">Áttu maka?</p>
                <div dx-radio-group="{
					items: valkostir.jaNei,
					layout: 'horizontal',
					valueExpr: 'value',
                    onValueChanged: $parent.updateFramfaersla,
					bindingOptions: {
						value: 'model.maki'
					}
				}"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
		    <div id="fjoldi-barna-grp" class="grp">
		        <table>
		            <tr>
		                <td>Hversu mörg börn eru á þinni framfærslu?</td>
                        <td><a id="bornInfo"><span class="info glyphicon glyphicon-info-sign"></span></a></td>
		            </tr>
		        </table>

		        <div dx-slider="{
				    min: 0,
				    max: 10,
				    step: 1,
				    width: 300,
				    bindingOptions: {
					    value: 'model.fjoldiBarna'
				    },
				    hint: 'Dragðu stikuna á réttan fjölda barna.',
				    label: {
					    visible: true,
					    position: 'bottom',
					    format: formatBornLabel
				    },
				    tooltip: {
					    enabled: true,
					    format: formatBornTooltip
				    }
			    }"></div>
		        <div id="bornInfoWindow">
		            <p>Hversu mörg börn ertu að borga fyrir </p>
		        </div>
		    </div>
		</td>
	</tr>
    <tr>
        <td colspan="3">
            <br />
            <div class="next-button" dx-button="{
                text: 'Næsta skref',
                onClick: $parent.naestaSida,
                icon: 'arrowright'
            }"></div>
        </td>
    </tr>
</table>





