<h1 align="center">Vörður líftryggingar</h1>
<h2 align="center">Reiknaðu út þörf þína fyrir líf- og sjúkdómatryggingar</h2>
<hr />
<p>Í þessari reiknivél höfum sett inn helstu þætti sem máli skipta þegar þú veltir fyrir þér hve háa vátryggingavernd þú ættir að kaupa.</p>
<br />
<p>
    Fjölmargir þættir hafa áhrif á líf hvers einstaklings, ekki síst þegar sjúkdómar, slys og andlát setja strik í reikninginn.
    Fyrirhyggja skiptir þá máli og rétt tryggingavernd getur skipt sköpum fyrir framhaldið, fyrir þig og þá sem næst þér standa.
</p>
<p>Líf- og sjúkdómatrygging létta baráttuna í slíkum mótbyr.</p>
<br />
<p>Í reikniforritinu spyrjum við þig um helstu atriði sem máli skipta við ákvörðun um  þá vátryggingavernd sem kann að henta þér.</p>
<ul>
    <li>Reiknaðu út hve háa vernd þú þarft</li>
    <li>Veltu fyrir þér hve há iðgjöld þú ræður við að greiða</li>
    <li>Eigirðu fjölskyldu þarftu að velta fyrir þér hver staða hennar verður, ef þú fellur frá.</li>
    <li>Ef þú færð illvígan sjúkdóm, veltu fyrir þér fjárhag þínum ef þú missir tekjur vegna hans</li>
    <li>Ef þú skuldar fasteignalán og skammtímaskuldir hvernig viltu sjá lausn á þeim skuldbindingum</li>
</ul>
<br />
<p>Reiknivélin ákvarðar <strong>ekki</strong> fyrir þig hve háa vernd þú þarft til að uppfylla hugmyndir þínar. </p>
<p>Þú svarar spurningum okkar, og á grundvelli svaranna gerum við tillögu að vátryggingavernd sem gæti hentað þér. </p>
<p>Við upplýsum þig um á hverju tillögur okkar byggja, en þú getur síðan breytt þessum forsendum til að aðlaga þínum hugmyndum.</p>
<p>
    Líf- og sjúkdómatryggingar greiða út skattfrjálsa eingreiðslu ef þú deyrð eða eða greinist með illvígan sjúkdóm á gildistíma trygginganna.
    Þannig byggir þú upp <strong>fjárhagslegt öryggi</strong> fyrir þig og þína á erfiðleikatímum.
</p>

<br />

<div class="next-button" dx-button="{
    text: 'Hefja greiningu',
    onClick: $parent.naestaSida
}"></div>