
<table style="float:left;">
    <tr class="borderUD">
        <td colspan="2">
            <span class="bold">Forsendur</span>
            <a id="forsendurInfo"><span class="info-utreikningur glyphicon glyphicon-info-sign"></span></a>
        </td>
    </tr>
    <tr>
        <td style="width:260px;">Kyn</td>
        <td style="width:150px">{{model.kyn | kyn}}</td>
    </tr>
    <tr>
        <td>Aldur</td>
        <td><a href="#" id="xaldur" title="Aldur">{{model.aldur | aldur}}</a></td>
    </tr>
    <tr>
        <td>Reykir?</td>
        <td>{{model.reykir | jaNei}}</td>
    </tr>
    <tr>
        <td>Maki?</td>
        <td>{{model.maki | jaNei}}</td>
    </tr>
    <tr>
        <td>Börn á framfæri</td>
        <td><a href="#" id="xborn" title="Börn á framfæri">{{model.fjoldiBarna}}</a></td>
    </tr>
    <tr>
        <td>Laun eftir skatt</td>
        <td><a href="#" id="xlaun" title="Laun eftir skatt">{{model.laun | kronur}}</a></td>
    </tr>
    <tr ng-show="hefurMaka()">
        <td>Laun maka eftir skatt</td>
        <td><a href="#" id="xmakalaun" title="Laun maka eftir skatt">{{model.makaLaun | kronur}}</a></td>
    </tr>
    <tr>
        <td>Skammtímaskuldir</td> 
        <td>{{model.skammtimaSkuldir | kronur}}</td>
    </tr>
    <tr>
        <td>Húsnæði</td>
        <td>{{model.husnaediTxt()}}</td>
    </tr>
    <tr>
        <td>{{model.husnaediLabel()}}</td>
        <td>{{model.husnaediUpphaed() | kronur}}</td>
    </tr>
</table>

<table style="width: 340px;">
    <tr class="borderUD">
        <td colspan="2">
            <span class="bold">
                Kostnaður á mánuði
                <a id="framfaerslaInfo">
                    <span class="info-utreikningur glyphicon glyphicon-info-sign"></span>
                </a>
                <a href="#" style="float:right" id="endurstillaGildi">
                    <i>
                        Endurstilla gildi
                    </i>
                </a>
            </span>
        </td>
    </tr>
    <tr>
        <td style="width:260px;">Matur og hreinlætisvörur</td>
        <td class="right"><a href="#" id="xmatur">{{model.kostnadur()[0] | kronur}}</a></td>

    </tr>
    <tr>
        <td>Föt og skór</td>
        <td class="right"><a href="#" id="xfot">{{model.kostnadur()[1] | kronur}}</a></td>
    </tr>
    <tr>
        <td>Læknis- og lyfjakostnaður</td>
        <td class="right"><a href="#" id="xlaeknis">{{model.kostnadur()[2] | kronur}}</a></td>
    </tr>
    <tr>
        <td>Tómstundir</td>
        <td class="right"><a href="#" id="xtomstundir">{{model.kostnadur()[3] | kronur}}</a></td>
    </tr>
    <tr>
        <td>Samskipti</td>
        <td class="right"><a href="#" id="xsamskipti">{{model.kostnadur()[4] | kronur}}</a></td>
    </tr>
    <tr>
        <td>Önnur þjónusta</td>
        <td class="right"><a href="#" id="xþjonusta">{{model.kostnadur()[5] | kronur}}</a></td>
    </tr>
    <tr>
        <td>Samgöngur</td>
        <td class="right"><a href="#" id="xsamgongur">{{model.kostnadur()[6] | kronur}}</a></td>
    </tr>
    <tr ng-show="hefurMaka()">
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><span class="bold">Almennur kostnaður á mánuði</span></td>
        <td class="right"><span class="bold">{{(model.heildarKostn() - model.afborganir())| kronur}}</span></td>
    </tr>
</table>

<table class="tblRadstofun">
    <tr>
        <td style="width:260px">
            <span class="bold">Til ráðstöfunar á mánuði</span>
        </td>
        <td style ="width:150px">
            <span class="bold" ng-class="{'red': (model.tilRadstofunar() < 0)}">{{model.tilRadstofunar() | kronur}}</span>
        </td>
        <td style="width:260px">
            <span class="bold">Heildarútgjöld á mánuði</span>
        </td>
        <td>
            <p class="bold right">{{model.heildarKostn() | kronur}}</p>
        </td>
    </tr>
</table>

<table class="tafla-utreikningur">
    <tr>
        <td colspan="2" align="center">
            <p class="bold title-p">
                Forsendur Líftryggingar
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div id="laun-prosenta-grp" class="grp" align="center">
                <p id="laun-prosenta-display">Hversu háa prósentu af launum þínum viltu tryggja?</p>
                <div dx-slider="{
                    min: 40,
                    max: 100,
                    step: 10,
                    bindingOptions: {
                        value: 'model.vernd'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétta prósentu.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatProsentLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatProsentTooltip
                    }
                }"></div>
            </div>
        </td>
        <td>
            <div id="laun-ar-grp" class="grp" align="center">
                <p id="laun-ar-display">Í hversu mörg ár viltu tryggja launin?</p>
                <div dx-slider="{
                    min: 1,
                    max: 5,
                    step: 1,
                    bindingOptions: {
                        value: 'model.verndAr'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétt ár.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatArLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatArTooltip
                    }
                }"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br />
            <p><span class="statement-p">{{model.tryggingTexti()}}</span></p>
            <br />
        </td>
    </tr>
</table>

<table class="tafla-utreikningur">
    <tr>
        <td colspan="2" align="center">
            <p class="bold title-p">
                Forsendur Sjúkdómatryggingar
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div id="laun-prosenta-grp" class="grp" align="center">
                <p id="laun-prosenta-display">Hversu háa prósentu af launum þínum viltu tryggja?</p>
                <div dx-slider="{
                    min: 40,
                    max: 100,
                    step: 10,
                    bindingOptions: {
                        value: 'model.sjukdomaVernd'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétta prósentu.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatProsentLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatProsentTooltip
                    }
                }"></div>
            </div>
        </td>
        <td>
            <div id="laun-ar-grp" class="grp" align="center">
                <p id="laun-ar-display">Í hversu mörg ár viltu tryggja launin?</p>
                <div dx-slider="{
                    min: 1,
                    max: 3,
                    step: 1,
                    bindingOptions: {
                        value: 'model.sjukdomaVerndAr'
                    },
                    width: 300,
                    hint: 'Dragðu stikuna á rétt ár.',
                    label: {
                        visible: true,
                        position: 'bottom',
                        format: formatArLabel
                    },
                    tooltip: {
                        enabled: true,
                        format: formatArTooltip
                    }
                }"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <br />
            <p><span class="statement-p">{{model.sjukdomaTryggingTexti()}}</span></p>
            <br />
        </td>
    </tr>
</table>

<table class="tafla-utreikningur">
    <tr>
        <td colspan="5" align="center">
            <p class="bold title-p">
                Niðurstöður
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:200px" class="bold-med">
            Reiknuð líftrygging:
        </td>
        <td class="bold-med right">
            {{model.liftrygging() | kronur}}
        </td>
        <td class ="bold-med">
            Iðgjald á {{model.borgaManadarlega ? "mánuði" : "ári"}} er:
        </td>
        <td class="bold-med right" ng-hide="model.borgaManadarlega">    
            {{model.lifIdgjald() |  kronur}}
        </td>
        <td class="bold-med right" ng-show="model.borgaManadarlega">    
            {{model.lifIdgjald() |  kronurPerManud}}
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="width:200px">
            <p class="bold-med">
                Reiknuð sjúkdómatrygging:
            </p>
        </td>
        <td>
            <p class="bold-med">
                {{model.sjukdomatrygging() | kronur}}
            </p>
        </td>
        <td>
            <p class="bold-med">
                Iðgjald á {{model.borgaManadarlega ? "mánuði" : "ári"}} er:
            </p>
        </td>
        <td class="bold-med right" ng-hide="model.borgaManadarlega">
            <p class="bold-med">
                {{model.sjukdomaIdgjald() |  kronur}}
            </p>
        </td>
        <td class="bold-med right" ng-show="model.borgaManadarlega">
            <p class="bold-med">
                {{model.sjukdomaIdgjald() |  kronurPerManud}}
            </p>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td style="width:200px">

        </td>
        <td>

        </td>
        <td class="nidurstada">
            <span class="bold-big">
                Samtals iðgjöld á {{model.borgaManadarlega ? "mánuði" : "ári"}}:
            </span>
        </td>
        <td class="right nidurstada" ng-hide="model.borgaManadarlega">
            <p class="bold-big">
                {{model.idgjold() |  kronur}}
            </p>
        </td>
        <td class="right nidurstada" ng-show="model.borgaManadarlega">
            <p class="bold-big">
                {{model.idgjold() |  kronurPerManud}}
            </p>
        </td>
        <td class="right">
            <i>Greiða mánaðarlega?</i>
            <div dx-check-box="{
                bindingOptions: {
                    value: 'model.borgaManadarlega'
                }
            }"></div>
        </td>
    </tr>
</table>

<table style="margin-top:25px">
    <tr>
        <td style="width:100px">
            <div dx-button="{
                text: 'Senda inn rafræna umsókn',
                onClick: buttonClicked
            }"></div>
        </td>
        <td></td>
    </tr>
</table>

<div id="forsendurInfoWindow">
    <p>Þessar forsendur eru þær upplýsingar sem við höfum aflað af fyrri síðum reiknivélarinnar. Hægt er að fara til baka og breyta þeim með því að fara milli flipa hér að ofan.</p>
</div>

<div id="framfaerslaInfoWindow">
    <p>Þessar upplýsingar eru fengnar frá Umboðsmanni Skuldara. Framfærsluviðmið eru miðuð við gefnar forsendur. Hægt er að breyta gildunum til að fá betri hugmynd um ráðstöfunartekjur.</p>
</div>