@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="lvApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launavernd</title>

    <link href="~/DX/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/DX/css/dx.spa.css" rel="stylesheet" />
    <link href="~/DX/css/dx.common.css" rel="stylesheet" />
    <link href="~/DX/css/dx.light.css" rel="stylesheet" />
    <style>
        #tabs {
            height: auto;
            width: 100%;
        }
    </style>
    
    <script src="~/DX/js/jquery-2.1.3.min.js"></script>
    <script src="~/DX/js/globalize.min.js"></script>
    <script src="~/DX/globalize-de.js"></script>
    <script src="~/DX/js/angular.min.js"></script>
    <script src="~/DX/js/angular-sanitize.min.js"></script>
    <script src="~/DX/js/dx.webappjs.js"></script>

    <script src="~/Scripts/_main.js"></script>
</head>
    <body ng-controller="defaultCtrl">

        <div dx-tab-panel="tabPanel" id="tab"></div>

        <div id="fifthTab" class="dx-fieldset">
            <h1>Vörður líftryggingar</h1>
            <h2>Reiknaðu út þörf þína fyrir líf- og sjúkdómatryggingar</h2>
            <p>Í þessari reiknivél höfum sett inn helstu þætti sem máli skipta þegar þú veltir fyrir þér hve háa vátryggingavernd þú ættir að kaupa.</p>  
            <p>Fjölmargir þættir hafa áhrif á líf hvers einstaklings, ekki síst þegar sjúkdómar, slys og andlát setja strik í reikninginn.</p>  
            <p>Fyrirhyggja skiptir þá máli og rétt tryggingavernd getur skipt sköpum fyrir framhaldið, fyrir þig og þá sem næst þér standa.</p> 
            <p>Líf- og sjúkdómatrygging létta baráttuna í slíkum mótbyr.</p>
            <p>
                Í reikniforritinu spyrjum við þig um helstu atriði sem máli skipta við ákvörðun um  þá vátryggingavernd sem kann að henta þér.
            </p>
            <ul>
                <li>Reiknaðu út hve háa vernd þú þarft</li>
                <li>Veltu fyrir þér hve há iðgjöld þú ræður við að greiða</li>
                <li>Eigirðu fjölskyldu þarftu að velta fyrir þér hver staða hennar verður, ef þú fellur frá.</li>
                <li>Ef þú færð illvígan sjúkdóm, veltu fyrir þér fjárhag þínum ef þú missir tekjur vegna hans</li>
                <li>Ef þú skuldar fasteignalán og skammtímaskuldir hvernig viltu sjá lausn á þeim skuldbindingum</li>
            </ul>
            <p>Reiknivélin ákvarðar ekki fyrir þig hve háa vernd þú þarft til að uppfylla hugmyndir þínar. </p>
            <p>Þú svarar spurningum okkar, og á grundvelli svaranna gerum við tillögu að vátryggingavernd sem gæti hentað þér. </p>
            <p>Við upplýsum þig um á hverju tillögur okkar byggja, en þú getur síðan breytt þessum forsendum til að aðlaga þínum hugmyndum.</p>
            <p>Líf- og sjúkdómatryggingar greiða út skattfrjálsa eingreiðslu ef þú deyrð eða eða greinist með illvígan sjúkdóm á gildistíma trygginganna. </p>
            <p>Þannig byggir þú upp fjárhagslegt öryggi fyrir þig og þína á erfiðleikatímum.</p>

</div>
        <div id="firstTab">
            <table class="tafla1">
                <tr>
                    <td>
                        <div id="kyn-grp" class="grp">
                            <p id="kyn-display">Kyn?</p>
                            <div id="kyn"></div>
                        </div>
                    </td>
                    <td>
                        <div id="aldur-grp" class="grp">
                            <p id="aldur-display">Aldur?</p>
                            <div id="aldur"></div>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="reykir-grp" class="grp">
                            <p id="reykir-display">Reykir þú?</p>
                            <div id="reykir"></div>
                        </div>
                    </td>
                    <td>
                        <div id="maki-grp" class="grp">
                            <p id="maki-display">Áttu maka?</p>
                            <div id="maki"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="secondTab" class="dx-fieldset">
            <table class="tafla2">
                <tr>
                    <td>
                        <div id="fjoldi-barna-grp" class="grp">
                            <p id="fjoldi-barna-display">Hversu mörg börn átt þú?</p>
                            <div id="fjoldi-barna"></div>
                        </div>
                    </td>
                    <td>
                        <div id="fjoldi-barna-heima-grp" class="grp">
                            <p id="fjoldi-barna-heima-display">Hversu mörg börn búa enn á heimili þínu?</p>
                            <div id="fjoldi-barna-heima"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>

        <div id="thirdTab" class="dx-fieldset">
            <table class="tafla3">
                <tr>
                    <td>
                        <div id="laun-grp" class="grp">
                            <p id="laun-display">Hver eru mánaðarleg laun þín eftir skatta?</p>
                            <div id="laun"></div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="husnaedi-grp" class="grp">
                            <p id="husnaedi-display">Býrðu í leiguhúsnæði eða eiginhúsnæði?</p>
                            <div id="husnaedi"></div>
                        </div>
                    </td>
                    <td>
                        <div id="husnaedi-kostnadur-grp" class="grp">
                            <p id="husnaedi-kostnadur-display">Hver er leigukostnaður þinn á mánuði?</p>
                            <div id="husnaedi-kostnadur"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="fourthTab" class="dx-fieldset">
            <table class="tafla4">
                <tr>
                    <td>
                        <div id="laun-prosenta-grp" class="grp">
                            <p id="laun-prosenta-display">Hversu háa prósentu af launum þínum viltu tryggja?</p>
                            <div id="laun-prosenta"></div>
                        </div>
                    </td>
                    <td>
                        <div id="laun-ar-grp" class="grp">
                            <p id="laun-ar-display">Í hversu mörg ár viltu tryggja launin?</p>
                            <div id="laun-ar"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="liftrygging-grp" class="grp">
                            <p id="liftrygging-display">Við mælum með að taka líftryggingu upp á:&nbsp;</p> <p id="liftrygging-amt-display"></p>
                            <div id="liftrygging"></div>
                        </div>
                    </td>
                    <td>
                        <div id="idgjald-grp" class="grp">
                            <p id="idgjald-display">Iðgjald fyrir líftryggingu væri:</p> <p id="idgjald-amt-display"></p>
                            <div id="idgjald"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
