@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launavernd</title>

    <link href="~/DX/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    
    @*<script src="~/DX/js/jquery-2.1.4.min.js"></script>*@
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/DX/css/dx.spa.css" rel="stylesheet" />
    <link href="~/DX/css/dx.common.css" rel="stylesheet" />
    <link href="~/DX/css/dx.light.css" rel="stylesheet" />
    <style>
        #tabs {
            height: auto;
            width: 100%;
        }
    </style>
    

    <script src="~/DX/js/globalize.min.js"></script>
    <script src="~/DX/globalize-de.js"></script>
    <script src="~/DX/js/angular.min.js"></script>
    <script src="~/DX/js/angular-sanitize.min.js"></script>
    <script src="~/DX/js/dx.webappjs.js"></script>
    
    <script src="~/Scripts/_utils.js"></script>
    <script src="~/Scripts/_format.js"></script>
    <script src="~/Scripts/_calc.js"></script>
    <script src="~/Scripts/_persona.js"></script>
    <script src="~/Scripts/_data.js"></script>

    <script src="~/Scripts/_main.js"></script>
</head>
<body ng-controller="defaultCtrl">

    @*<div dx-tab-panel="tabPanel" id="tab"></div>*@

    <div id="tabPanel" dx-tab-panel="{
                items: tabPanelItems,
                titleTemplate: 'title',
                itemTemplate: 'tab',
                onInitialized: tabInit,
                onSelectionChanged: tabChanged,
                onTitleClick: titleClick,
                height: docHeight
             }">
        <div data-options="dxTemplate : { name: 'title' } ">
            <table><tr><td><i class="fa fa-{{icon}}" style="font-size: {{iconSize}}; color: {{iconColor}}"></i></td><td style="padding-left:8px;">{{title}}</td></tr></table>
        </div>

        @* ----- TAB0 Forsíða ------*@
        <div data-options="dxTemplate : { name: 'tab0' } ">
            <div style="margin:25px;">
                <h1 align="center">Vörður líftryggingar</h1>
                <h2 align="center">Reiknaðu út þörf þína fyrir líf- og sjúkdómatryggingar</h2>
                <hr />
                <p>Í þessari reiknivél höfum sett inn helstu þætti sem máli skipta þegar þú veltir fyrir þér hve háa vátryggingavernd þú ættir að kaupa.</p>
                <br />
                <p>
                    Fjölmargir þættir hafa áhrif á líf hvers einstaklings, ekki síst þegar sjúkdómar, slys og andlát setja strik í reikninginn.
                    Fyrirhyggja skiptir þá máli og rétt tryggingavernd getur skipt sköpum fyrir framhaldið, fyrir þig og þá sem næst þér standa.
                </p>
                <p>Líf- og sjúkdómatrygging létta baráttuna í slíkum mótbyr.</p>
                <br />
                <p>Í reikniforritinu spyrjum við þig um helstu atriði sem máli skipta við ákvörðun um  þá vátryggingavernd sem kann að henta þér.</p>
                <ul>
                    <li>Reiknaðu út hve háa vernd þú þarft</li>
                    <li>Veltu fyrir þér hve há iðgjöld þú ræður við að greiða</li>
                    <li>Eigirðu fjölskyldu þarftu að velta fyrir þér hver staða hennar verður, ef þú fellur frá.</li>
                    <li>Ef þú færð illvígan sjúkdóm, veltu fyrir þér fjárhag þínum ef þú missir tekjur vegna hans</li>
                    <li>Ef þú skuldar fasteignalán og skammtímaskuldir hvernig viltu sjá lausn á þeim skuldbindingum</li>
                </ul>
                <br />
                <p>Reiknivélin ákvarðar <strong>ekki</strong> fyrir þig hve háa vernd þú þarft til að uppfylla hugmyndir þínar. </p>
                <p>Þú svarar spurningum okkar, og á grundvelli svaranna gerum við tillögu að vátryggingavernd sem gæti hentað þér. </p>
                <p>Við upplýsum þig um á hverju tillögur okkar byggja, en þú getur síðan breytt þessum forsendum til að aðlaga þínum hugmyndum.</p>
                <p>
                    Líf- og sjúkdómatryggingar greiða út skattfrjálsa eingreiðslu ef þú deyrð eða eða greinist með illvígan sjúkdóm á gildistíma trygginganna.
                    Þannig byggir þú upp <strong>fjárhagslegt öryggi</strong> fyrir þig og þína á erfiðleikatímum.
                </p>
            </div>
        </div>

        @* ----- TAB1 Persónuupplýsingar ------*@
        <div data-options="dxTemplate : { name: 'tab1' } ">
            <div style="margin:25px;">
                <table class="tafla">
                    <tr>
                        <td>
                            <div id="kyn-grp" class="grp">
                                <p id="kyn-display">Kyn?</p>
                                <div dx-radio-group="{
                                        items: valkostir.kyn,
                                        layout: 'horizontal',
                                        valueExpr: 'value',
                                        bindingOptions: {
                                            value: 'model.kyn'
                                        }
                                    }"></div>
                            </div>
                        </td>
                        <td>
                            <div id="aldur-grp" class="grp">
                                <p id="aldur-display">Aldur?</p>
                                <div dx-slider="{
                                        min: 18,
                                        max: 70,
                                        step: 1,
                                        hint: 'dragðu stikuna á réttan aldur.',
                                        bindingOptions: {
                                            value: 'model.aldur'
                                        },
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatAldur
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatAldur
                                        }
                                     }"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="reykir-grp" class="grp">
                                <p id="reykir-display">Reykir þú?</p>
                                <div dx-radio-group="{
                                        items: valkostir.jaNei,
                                        layout: 'horizontal',
                                        valueExpr: 'value',
                                        bindingOptions: {
                                            value: 'model.reykir'
                                        }
                                    }"></div>
                            </div>
                        </td>
                        <td>
                            <div id="maki-grp" class="grp">
                                <p id="maki-display">Áttu maka?</p>
                                <div dx-radio-group="{
                                        items: valkostir.jaNei,
                                        layout: 'horizontal',
                                        valueExpr: 'value',
                                        bindingOptions: {
                                            value: 'model.maki'
                                        }
                                    }"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="fjoldi-barna-grp" class="grp">
                                <p id="fjoldi-barna-display">Hversu mörg börn eru á þinni framfærslu?</p>
                                <div dx-slider="{
                                    min: 0,
                                    max: 10,
                                    step: 1,
                                    width: 300,
                                    bindingOptions: {
                                        value: 'model.fjoldiBarna'
                                    },
                                    hint: 'Dragðu stikuna á réttan fjölda barna.',
                                    label: {
                                        visible: true,
                                        position: 'bottom',
                                        format: formatBornLabel
                                    },
                                    tooltip: {
                                        enabled: true,
                                        format: formatBornTooltip
                                    }
                                }"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @* ----- TAB3 Fjármál ------*@
        <div data-options="dxTemplate : { name: 'tab2' } ">
            <div style="margin:25px;">
                <table class="tafla">
                    <tr>
                        <td>
                            <div id="laun-grp" class="grp">
                                <p id="laun-display">Hver eru mánaðarleg laun þín eftir skatta?</p>
                                <div id="laun" dx-slider="{
                                        min: 0,
                                        max: 1000000,
                                        step: 50000,
                                        bindingOptions: {
                                            value: 'model.laun'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á rétt laun.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatLaunLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatLaunTooltip
                                        }
                                }"></div>
                            </div>
                        </td>
                        <td>
                            <div id="skammtimaskuldir-grp">
                                <p id="skammtimaskuldir-display">Hvað greiðir þú af skammtímaskuldum á mánuði?</p>
                                <div id="skammtimaskuldir" dx-slider="{
                                        min: 0,
                                        max: 500000,
                                        step: 10000,
                                        bindingOptions: {
                                            value: 'model.skammtimaSkuldir'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á upphæð skammtímaskulda.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatSkammtimaskuldirLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatSkammtimaskuldirTooltip
                                        }
                                }"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="husnaedi-grp" class="grp">
                                <p id="husnaedi-display">Býrðu í leiguhúsnæði eða eiginhúsnæði?</p>
                                <div dx-radio-group="{
                                        items: valkostir.husnaedi,
                                        width: '300px',
                                        layout: 'horizontal',
                                        onValueChanged: onHusnaediChanged,
                                        valueExpr: 'value',
                                        bindingOptions: {
                                            value: 'model.husnaedi'
                                        }
                                    }"></div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="husnaedi-kostnadur-grp" class="grp" ng-show="erLeiga()">
                                <p id="husnaedi-kostnadur-display">Hver er leigukostnaður þinn á mánuði?</p>
                                <div dx-slider="{
                                        min: 0,
                                        max: 300000,
                                        step: 10000,
                                        bindingOptions: {
                                            value: 'model.leiga'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á upphæð leigu á mánuði.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatSkammtimaskuldirLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatSkammtimaskuldirTooltip
                                        }
                                }"></div>
                            </div>
                            <div id="husnaedislan-grp" class="grp" ng-hide="erLeiga()">
                                <p id="husnaedislan-display">Hverjar eru eftirstöðvar húsnæðislánsins?</p>
                                <div dx-slider="{
                                        min: 0,
                                        max: 10000000,
                                        step: 100000,
                                        bindingOptions: {
                                            value: 'model.husnaedisLan'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á upphæð skammtímaskulda.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatSkammtimaskuldirLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatSkammtimaskuldirTooltip
                                        }
                                }"></div>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @* ----- TAB4 Útreikningur ------*@
        <div data-options="dxTemplate : { name: 'tab3' } ">
            <div style="margin:25px;">
                <div>
                    <table style="float:left;">
                        <tr style="border: 1px solid silver">
                            <td colspan="2">
                                <span class="bold">Forsendur</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:200px;">Kyn</td>
                            <td style="width:150px">{{model.kynTxt()}}</td>
                        </tr>
                        <tr>
                            <td>Aldur</td>
                            <td><a href="#" id="xaldur" title="Aldur">{{model.aldur}}</a></td>

                        </tr>
                        <tr>
                            <td>Reykir?</td>
                            <td>{{model.jaNei(model.reykir)}}</td>
                        </tr>
                        <tr>
                            <td>Maki?</td>
                            <td>{{model.jaNei(model.maki)}}</td>
                        </tr>
                        <tr>
                            <td>Börn á framfæri</td>
                            <td><a href="#" id="xborn" title="Börn á framfæri">{{model.fjoldiBarna}}</a></td>
                        </tr>
                        <tr>
                            <td>Laun eftir skatt</td>
                            <td><a href="#" id="xlaun" title="Laun eftir skatt">{{model.laun}}</a></td>
                        </tr>
                        <tr>
                            <td>Skammtímaskuldir</td>
                            <td>{{model.skammtimaSkuldir}}</td>
                        </tr>
                        <tr>
                            <td>Húsnæði</td>
                            <td>{{model.husnaediTxt()}}</td>
                        </tr>
                        <tr>
                            <td>{{model.husnaediLabel()}}</td>
                            <td>{{model.husnaediUpphaed()}}</td>
                        </tr>
                    </table>
                    
                    <table>
                        <tr style="border: 1px solid silver">
                            <td colspan="2">
                                <span class="bold">Kostnaður á mánuði</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:200px;">Matur og hreinlætisvörur</td>
                            <td class="right">{{model.kostnadurTxt(0)}}</td>
                        </tr>
                        <tr>
                            <td>Föt og skór</td>
                            <td class="right">{{model.kostnadurTxt(1)}}</td>
                        </tr>
                        <tr>
                            <td>Læknis- og lyfjakostnaður</td>
                            <td class="right">{{model.kostnadurTxt(2)}}</td>
                        </tr>
                        <tr>
                            <td>Tómstundir</td>
                            <td class="right">{{model.kostnadurTxt(3)}}</td>
                        </tr>
                        <tr>
                            <td>Samskipti</td>
                            <td class="right">{{model.kostnadurTxt(4)}}</td>
                        </tr>
                        <tr>
                            <td>Önnur þjónusta</td>
                            <td class="right">{{model.kostnadurTxt(5)}}</td>
                        </tr>
                        <tr>
                            <td>Samgöngur</td>
                            <td class="right">{{model.kostnadurTxt(6)}}</td>
                        </tr>
                        <tr>
                            <td>Afborganir</td>
                            <td class="right">{{model.afborganirTxt()}}</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Samtals</span></td>
                            <td class="bold right">{{model.heildarKostnTxt()}}</td>
                        </tr>
                    </table>
                    
                    <table class="tblRadstofun">
                        <tr>
                            <td style="width:200px">
                                <span class="bold">Til ráðstöfunar á mánuði</span>
                            </td>
                            <td>
                                <span class="bold">{{model.tilRadstofunar()}}</span>
                            </td>
                        </tr>
                    </table>

                    <table class="tafla4">
                        <tr>
                            <td>
                                <div id="laun-prosenta-grp" class="grp">
                                    <p id="laun-prosenta-display">Hversu háa prósentu af launum þínum viltu tryggja?</p>
                                    <div dx-slider="{
                                        min: 40,
                                        max: 100,
                                        step: 10,
                                        bindingOptions: {
                                            value: 'model.vernd'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á rétta prósentu.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatProsentLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatProsentTooltip
                                        }
                                    }"></div>
                                </div>
                            </td>
                            <td>
                                <div id="laun-ar-grp" class="grp">
                                    <p id="laun-ar-display">Í hversu mörg ár viltu tryggja launin?</p>
                                    <div dx-slider="{
                                        min: 1,
                                        max: 5,
                                        step: 1,
                                        bindingOptions: {
                                            value: 'model.verndAr'
                                        },
                                        width: 300,
                                        hint: 'Dragðu stikuna á rétt ár.',
                                        label: {
                                            visible: true,
                                            position: 'bottom',
                                            format: formatArLabel
                                        },
                                        tooltip: {
                                            enabled: true,
                                            format: formatArTooltip
                                        }
                                    }"></div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="tafla4">
                        <tr>
                            <td style="width:200px">
                                Reiknuð líftrygging:
                            </td>
                            <td>{{$parent.kronur(model.liftrygging())}}</td>
                            <td>
                                Iðgjald á mánuði er:
                            </td>
                            <td>{{$parent.kronur(model.lifIdgjald())}}</td>
                        </tr>
                        <tr>
                            <td style="width:200px">
                                Reiknuð sjúkdómatrygging:
                            </td>
                            <td>{{$parent.kronur(model.sjukdomatrygging())}}</td>
                            <td>
                                Iðgjald á mánuði er:
                            </td>
                            <td>{{$parent.kronur(model.sjukdomaIdgjald())}}</td>
                        </tr>
                        <tr>
                            <td style="width:200px">
                            </td>
                            <td></td>
                            <td>
                                <span class="bold">Samtals iðgjöld á mánuði:</span>
                            </td>
                            <td><span class="bold">{{$parent.kronur(model.idgjold())}}</span></td>
                        </tr>
                    </table>

                    <table style="margin-top:25px">
                        <tr>
                            <td style="width:100px">
                                <div dx-button="{
                                    text: 'Senda inn rafræna umsókn',
                                    onClick: buttonClicked
                                }"></div>
                            </td>
                            <td></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>

    </div>
    

</body>
</html>
